/* 
Primary   : #f6a360
Secondary : #60B3F6
*/
body {
  margin: 0;
  font-family: "Sora", sans-serif;
}
span {
  color: #f6a360;
}
h1 {
  font-size: 40px;
  text-align: center;
}
#banner-h1 {
  text-align: left;
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
p {
  text-align: justify;
  font-weight: 500;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.half {
  width: 40%;
}
.half img {
  width: 100%;
}
.text-content {
  margin-top: 30%;
}
.half .banner-box {
  border-left: 5px solid #60b3f6;
  border-image: linear-gradient(#bfe1fd, #60b3f6);
  border-image-slice: 1;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  background-color: #60b3f6;
  border-radius: 5px;
  box-shadow: 0px 3px 1px #498bc2;
}

.card {
  width: 20%;
  padding: 2%;
  border-radius: 15px;
}
.card img {
  width: 40%;
}

footer {
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;
}
footer span {
  color: red;
}
footer p {
  text-align: center;
}
.skill-card {
  width: 35%;
  padding: 2%;
  background-color: #fac59ad2;
  border-radius: 5px;
  box-shadow: 1px 2px 4px gray;
}

.skill-box {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgb(122, 122, 122);
  margin-bottom: 20px;
}
.skill-card p {
  margin: 0;

  font-weight: 500;
}
.skill-card h3 {
  margin-top: 0;
}
.skill-box .skill-bar {
  background-color: #fd9946;
  height: 5px;
  border-radius: 0 15px 15px;
}
.skill-box .front-end {
  background-color: #60b3f6;
}
#vl {
  width: 5px;
  background-color: #9bd0fcab;
  border-radius: 20px;
  box-shadow: 6px 0px 1px #fac59ad2;
  margin: 0;
}
#first-bg {
  background-image: url("images/background/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#second-bg {
  background-image: url("images/background/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
